<tr>
	<td> <%= article.id %> </td>
	<td> <%= article.title %> </td>
	<td> <%= article.description %> </td>
	<td> <%= article.is_published? %> </td>
	<td>
		<%= link_to "Show", [:admin, article] %> | 
		<%= link_to "Remove", [:admin, article], method: :delete, style:"color:red", confirm:"Remove this article?" %>
	</td>
</tr>