<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Sarilaya" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><%= link_to "Sarilaya <small style='color:red'>Admin</small>".html_safe, admin_root_path %></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li><%= link_to "Articles", admin_articles_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Gallery", "#" %></li>
          <li class="divider"></li>
          <li><%= link_to "News & Updates", "#" %></li>
          <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Go to Site", root_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, confirm:"Are you sure you want to logout?" %></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>

    <div class="container">
        <% if notice %>
          <div class="row">
            <div class="large-12 columns">
              <div class="notice center">
                <span>
                  <%= notice %>
                </span>
              </div>
            </div>
          </div>
        <% end %>

        <% if alert %>
          <div class="row">
            <div class="large-12 columns">
              <div class="alert center">
                <span>
                  <%= alert %>
                </span>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="large-12 columns">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
